<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xch.study.biz.excelmanage.mapper.ApplicationDataMapper">
    <select id="queryData" parameterType="java.util.HashMap" resultType="com.xch.study.biz.excelmanage.entity.ExcelDataEntity">
        SELECT CL_NM li1 FROM comm_conf_dat
    </select>

    <update id="mergeIntoTable1Data" parameterType="com.xch.study.biz.excelmanage.entity.Table1Entity">
        MERGE INTO TOBJ_CK_ENTERPRISE_INFO_BAK T1
        USING(SELECT COUNT(1) total FROM TOBJ_CK_ENTERPRISE_INFO_BAK T2 WHERE T2.ENTERPRISE_NAME = #{li3}) T3 ON (T3.total > 0)
        WHEN NOT MATCHED THEN
        INSERT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                ENTERPRISE_ID,
            </if>
            <if test="li2 != null and  li2 != ''">
                LICENSE_NUMBER,
            </if>
            <if test="li3 != null and  li3 != ''">
                ENTERPRISE_NAME,
            </if>
            <if test="li4 != null and  li4 != ''">
                ENTERPRISE_ADDRESS,
            </if>
            <if test="li5 != null and  li5 != ''">
                ENTERPRISE_ADDRESS_AREA,
            </if>
            <if test="li6 != null and  li6 != ''">
                ENTERPRISE_ADDRESS_AREA_ID,
            </if>
            <if test="li7 != null and  li7 != ''">
                ENTERPRISE_ADDRESS_STREET,
            </if>
            <if test="li8 != null and  li8 != ''">
                ENTERPRISE_NATURE,
            </if>
            <if test="li9 != null and  li9 != ''">
                ENTERPRISE_TYPE,
            </if>
            <if test="li10 != null and  li10 != ''">
                LEGAL_REPRESENTATIVE,
            </if>
            <if test="li11 != null and  li11 != ''">
                ENTERPRISE_TEL,
            </if>
            <if test="li12 != null and  li12 != ''">
                ENTERPRISE_POSTAL_CODE,
            </if>
            <if test="li13 != null and  li13 != ''">
                ISFIRST,
            </if>
            <if test="li14 != null and  li14 != ''">
                DATA_STATE,
            </if>
            <if test="li15 != null and  li15 != ''">
                CREATE_TIME,
            </if>
            <if test="li16 != null and  li16 != ''">
                CREATE_PERATION,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                #{li1},
            </if>
            <if test="li2 != null and  li2 != ''">
                #{li2},
            </if>
            <if test="li3 != null and  li3 != ''">
                #{li3},
            </if>
            <if test="li4 != null and  li4 != ''">
                #{li4},
            </if>
            <if test="li5 != null and  li5 != ''">
                #{li5},
            </if>
            <if test="li6 != null and  li6 != ''">
                #{li6},
            </if>
            <if test="li7 != null and  li7 != ''">
                #{li7},
            </if>
            <if test="li8 != null and  li8 != ''">
                #{li8},
            </if>
            <if test="li9 != null and  li9 != ''">
                #{li9},
            </if>
            <if test="li10 != null and  li10 != ''">
                #{li10},
            </if>
            <if test="li11 != null and  li11 != ''">
                #{li11},
            </if>
            <if test="li12 != null and  li12 != ''">
                #{li12},
            </if>
            <if test="li13 != null and  li13 != ''">
                #{li13},
            </if>
            <if test="li14 != null and  li14 != ''">
                #{li14},
            </if>
            <if test="li15 != null and  li15 != ''">
                SYSDATE,
            </if>
            <if test="li16 != null and  li16 != ''">
                #{li16},
            </if>
        </trim>
    </update>

    <update id="mergeIntoTable2Data" parameterType="com.xch.study.biz.excelmanage.entity.Table2Entity">
        MERGE INTO TOBJ_CK_BASE_BASIC_INFO_BAK T1
        USING(SELECT COUNT(1) total FROM TOBJ_CK_BASE_BASIC_INFO_BAK T2 WHERE T2.ENTERPRISE_ID = #{li2} and T2.RECORD_NUMBER = #{li3}) T3 ON (T3.total > 0)
        WHEN NOT MATCHED THEN
        INSERT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                CK_BASE_ID,
            </if>
            <if test="li2 != null and  li2 != ''">
                ENTERPRISE_ID,
            </if>
            <if test="li3 != null and  li3 != ''">
                RECORD_NUMBER,
            </if>
            <if test="li4 != null and  li4 != ''">
                RECORD_TERM,
            </if>
            <if test="li5 != null and  li5 != ''">
                CERTIFICATION_NUMBER,
            </if>
            <if test="li6 != null and  li6 != ''">
                ISINFORMPROMISE,
            </if>
            <if test="li7 != null and  li7 != ''">
                APPROVE_DISTRICT,
            </if>
            <if test="li8 != null and  li8 != ''">
                DATA_STATE,
            </if>
            <if test="li9 != null and  li9 != ''">
                CREATE_TIME,
            </if>
            <if test="li10 != null and  li10 != ''">
                CREATE_PERATION,
            </if>
            <if test="li11 != null and  li11 != ''">
                CK_TYPE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                #{li1},
            </if>
            <if test="li2 != null and  li2 != ''">
                #{li2},
            </if>
            <if test="li3 != null and  li3 != ''">
                #{li3},
            </if>
            <if test="li4 != null and  li4 != ''">
                #{li4},
            </if>
            <if test="li5 != null and  li5 != ''">
                #{li5},
            </if>
            <if test="li6 != null and  li6 != ''">
                #{li6},
            </if>
            <if test="li7 != null and  li7 != ''">
                #{li7},
            </if>
            <if test="li8 != null and  li8 != ''">
                #{li8},
            </if>
            <if test="li9 != null and  li9 != ''">
                SYSDATE,
            </if>
            <if test="li10 != null and  li10 != ''">
                #{li10},
            </if>
            <if test="li11 != null and  li11 != ''">
                #{li11},
            </if>
        </trim>
    </update>

    <update id="mergeIntoTable3Data" parameterType="com.xch.study.biz.excelmanage.entity.Table3Entity">
        MERGE INTO TOBJ_CK_BASE_DETAIL_INFO_BAK T1
        USING(SELECT COUNT(1) total FROM TOBJ_CK_BASE_DETAIL_INFO_BAK T2 WHERE T2.CK_BASE_ID = #{li2} and T2.CK_NAME = #{li3}) T3 ON (T3.total > 0)
        WHEN NOT MATCHED THEN
        INSERT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                CK_ID,
            </if>
            <if test="li2 != null and  li2 != ''">
                CK_BASE_ID,
            </if>
            <if test="li3 != null and  li3 != ''">
                CK_NAME,
            </if>
            <if test="li4 != null and  li4 != ''">
                EMPLOYEES_NUMBER,
            </if>
            <if test="li5 != null and  li5 != ''">
                CK_ADDRESS,
            </if>
            <if test="li6 != null and  li6 != ''">
                CK_ADDRESS_AREA,
            </if>
            <if test="li7 != null and  li7 != ''">
                CK_ADDRESS_STREET,
            </if>
            <if test="li8 != null and  li8 != ''">
                CK_AREA,
            </if>
            <if test="li9 != null and  li9 != ''">
                BERTHS_NUMBER,
            </if>
            <if test="li10 != null and  li10 != ''">
                BERTHS_NUMBER_PR,
            </if>
            <if test="li11 != null and  li11 != ''">
                BERTHS_NUMBER_CHARGING_PILE,
            </if>
            <if test="li12 != null and  li12 != ''">
                BERTHS_NUMBER_BARRIER_FREE,
            </if>
            <if test="li13 != null and  li13 != ''">
                CK_PROPERTY_RIGHT,
            </if>
            <if test="li14 != null and  li14 != ''">
                CK_TERM_END,
            </if>
            <if test="li15 != null and  li15 != ''">
                CK_PROPERTY_OWNER,
            </if>
            <if test="li16 != null and  li16 != ''">
                PERSON_LIABLE_NAME,
            </if>
            <if test="li17 != null and  li17 != ''">
                TEL,
            </if>
            <if test="li18 != null and  li18 != ''">
                FEE_SYSTEM_SUPPLIER_NAME,
            </if>
            <if test="li19 != null and  li19 != ''">
                CK_POSITION,
            </if>
            <if test="li20 != null and  li20 != ''">
                NATURE_OF_MANAGEMENT_I,
            </if>
            <if test="li21 != null and  li21 != ''">
                NATURE_OF_MANAGEMENT_II,
            </if>
            <if test="li22 != null and  li22 != ''">
                POSTAL_CODE,
            </if>
            <if test="li23 != null and  li23 != ''">
                SERVICE_TEL,
            </if>
            <if test="li24 != null and  li24 != ''">
                COMPLAINT_TEL,
            </if>
            <if test="li25 != null and  li25 != ''">
                DATA_STATE,
            </if>
            <if test="li26 != null and  li26 != ''">
                CREATE_TIME,
            </if>
            <if test="li27 != null and  li27 != ''">
                CREATE_PERATION,
            </if>
            <if test="li28 != null and  li28 != ''">
                DISTRICT_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                #{li1},
            </if>
            <if test="li2 != null and  li2 != ''">
                #{li2},
            </if>
            <if test="li3 != null and  li3 != ''">
                #{li3},
            </if>
            <if test="li4 != null and  li4 != ''">
                #{li4},
            </if>
            <if test="li5 != null and  li5 != ''">
                #{li5},
            </if>
            <if test="li6 != null and  li6 != ''">
                #{li6},
            </if>
            <if test="li7 != null and  li7 != ''">
                #{li7},
            </if>
            <if test="li8 != null and  li8 != ''">
                #{li8},
            </if>
            <if test="li9 != null and  li9 != ''">
                #{li9},
            </if>
            <if test="li10 != null and  li10 != ''">
                #{li10},
            </if>
            <if test="li11 != null and  li11 != ''">
                #{li11},
            </if>
            <if test="li12 != null and  li12 != ''">
                #{li12},
            </if>
            <if test="li13 != null and  li13 != ''">
                #{li13},
            </if>
            <if test="li14 != null and  li14 != ''">
                to_date(#{li14},'yyyy/mm/dd'),
            </if>
            <if test="li15 != null and  li15 != ''">
                #{li15},
            </if>
            <if test="li16 != null and  li16 != ''">
                #{li16},
            </if>
            <if test="li17 != null and  li17 != ''">
                #{li17},
            </if>
            <if test="li18 != null and  li18 != ''">
                #{li18},
            </if>
            <if test="li19 != null and  li19 != ''">
                #{li19},
            </if>
            <if test="li20 != null and  li20 != ''">
                #{li20},
            </if>
            <if test="li21 != null and  li21 != ''">
                #{li21},
            </if>
            <if test="li22 != null and  li22 != ''">
                #{li22},
            </if>
            <if test="li23 != null and  li23 != ''">
                #{li23},
            </if>
            <if test="li24 != null and  li24 != ''">
                #{li24},
            </if>
            <if test="li25 != null and  li25 != ''">
                #{li25},
            </if>
            <if test="li26 != null and  li26 != ''">
                SYSDATE,
            </if>
            <if test="li27 != null and  li27 != ''">
                #{li27},
            </if>
            <if test="li28 != null and  li28 != ''">
                #{li28},
            </if>
        </trim>
    </update>

    <insert id="insertIntoTable4Data" parameterType="com.xch.study.biz.excelmanage.entity.Table4Entity">
        INSERT INTO TOBJ_CK_BASE_GARAGE_INFO_BAK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                ID,
            </if>
            <if test="li2 != null and  li2 != ''">
                CK_BASE_ID,
            </if>
            <if test="li3 != null and  li3 != ''">
                NATURE,
            </if>
            <if test="li4 != null and  li4 != ''">
                Z_LEVEL,
            </if>
            <if test="li5 != null and  li5 != ''">
                GRADE,
            </if>
            <if test="li6 != null and  li6 != ''">
                AREA,
            </if>
            <if test="li7 != null and  li7 != ''">
                PARKING_NUMBER,
            </if>
            <if test="li8 != null and  li8 != ''">
                PARKING_NUMBER_LARGE,
            </if>
            <if test="li9 != null and  li9 != ''">
                PARKING_NUMBER_SMALL,
            </if>
            <if test="li10 != null and  li10 != ''">
                FREIGHT_BASIS_TYPE,
            </if>
            <if test="li11 != null and  li11 != ''">
                FREIGHT_BASIS,
            </if>
            <if test="li12 != null and  li12 != ''">
                FREIGHT_BASIS_LARGE,
            </if>
            <if test="li13 != null and  li13 != ''">
                FREIGHT_BASIS_OVERSIZE,
            </if>
            <if test="li14 != null and  li14 != ''">
                FREIGHT_BASIS_SPECIAL,
            </if>
            <if test="li15 != null and  li15 != ''">
                Z_SELF_PROPELLED,
            </if>
            <if test="li16 != null and  li16 != ''">
                OFFSPRING_TYPE,
            </if>
            <if test="li17 != null and  li17 != ''">
                MECHANICAL,
            </if>
            <if test="li18 != null and  li18 != ''">
                SHELF_VALIDITY_PERIOD,
            </if>
            <if test="li19 != null and  li19 != ''">
                BILLING_MODE,
            </if>
            <if test="li20 != null and  li20 != ''">
                PARKING_NUMBER_FOREIGN,
            </if>
            <if test="li21 != null and  li21 != ''">
                PARKING_NUMBER_TIME,
            </if>
            <if test="li22 != null and  li22 != ''">
                PARKING_NUMBE_LONG_TERM,
            </if>
            <if test="li23 != null and  li23 != ''">
                PAYMENT_METHOD,
            </if>
            <if test="li24 != null and  li24 != ''">
                DATA_STATE,
            </if>
            <if test="li25 != null and  li25 != ''">
                CREATE_TIME,
            </if>
            <if test="li26 != null and  li26 != ''">
                CREATE_PERATION,
            </if>
            <if test="li27 != null and  li27 != ''">
                PARKING_NUMBER_TIME_TYPE,
            </if>
            <if test="li28 != null and  li28 != ''">
                NATURE_FLOOR_NUMBER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                #{li1},
            </if>
            <if test="li2 != null and  li2 != ''">
                #{li2},
            </if>
            <if test="li3 != null and  li3 != ''">
                #{li3},
            </if>
            <if test="li4 != null and  li4 != ''">
                #{li4},
            </if>
            <if test="li5 != null and  li5 != ''">
                #{li5},
            </if>
            <if test="li6 != null and  li6 != ''">
                #{li6},
            </if>
            <if test="li7 != null and  li7 != ''">
                #{li7},
            </if>
            <if test="li8 != null and  li8 != ''">
                #{li8},
            </if>
            <if test="li9 != null and  li9 != ''">
                #{li9},
            </if>
            <if test="li10 != null and  li10 != ''">
                #{li10},
            </if>
            <if test="li11 != null and  li11 != ''">
                #{li11},
            </if>
            <if test="li12 != null and  li12 != ''">
                #{li12},
            </if>
            <if test="li13 != null and  li13 != ''">
                #{li13},
            </if>
            <if test="li14 != null and  li14 != ''">
                #{li14},
            </if>
            <if test="li15 != null and  li15 != ''">
                #{li15},
            </if>
            <if test="li16 != null and  li16 != ''">
                #{li16},
            </if>
            <if test="li17 != null and  li17 != ''">
                #{li17},
            </if>
            <if test="li18 != null and  li18 != ''">
                #{li18},
            </if>
            <if test="li19 != null and  li19 != ''">
                #{li19},
            </if>
            <if test="li20 != null and  li20 != ''">
                #{li20},
            </if>
            <if test="li21 != null and  li21 != ''">
                #{li21},
            </if>
            <if test="li22 != null and  li22 != ''">
                #{li22},
            </if>
            <if test="li23 != null and  li23 != ''">
                #{li23},
            </if>
            <if test="li24 != null and  li24 != ''">
                #{li24},
            </if>
            <if test="li25 != null and  li25 != ''">
                SYSDATE,
            </if>
            <if test="li26 != null and  li26 != ''">
                #{li26},
            </if>
            <if test="li27 != null and  li27 != ''">
                #{li27},
            </if>
            <if test="li28 != null and  li28 != ''">
                #{li28},
            </if>
        </trim>
    </insert>

    <insert id="insertIntoTable5Data" parameterType="com.xch.study.biz.excelmanage.entity.Table5Entity">
        INSERT INTO TOB_CK_BASE_EXIT_INFO_BAK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                ID,
            </if>
            <if test="li2 != null and  li2 != ''">
                CK_BASE_ID,
            </if>
            <if test="li3 != null and  li3 != ''">
                ENTRANCEEXIT_NAME,
            </if>
            <if test="li4 != null and  li4 != ''">
                ENTRANCEEXIT_TYPE,
            </if>
            <if test="li5 != null and  li5 != ''">
                DATA_STATE,
            </if>
            <if test="li6 != null and  li6 != ''">
                CREATE_TIME,
            </if>
            <if test="li7 != null and  li7 != ''">
                CREATE_PERATION,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                #{li1},
            </if>
            <if test="li2 != null and  li2 != ''">
                #{li2},
            </if>
            <if test="li3 != null and  li3 != ''">
                #{li3},
            </if>
            <if test="li4 != null and  li4 != ''">
                #{li4},
            </if>
            <if test="li5 != null and  li5 != ''">
                #{li5},
            </if>
            <if test="li6 != null and  li6 != ''">
                SYSDATE,
            </if>
            <if test="li7 != null and  li7 != ''">
                #{li7},
            </if>
        </trim>
    </insert>

    <update id="mergeIntoTable6Data" parameterType="com.xch.study.biz.excelmanage.entity.Table6Entity">
        MERGE INTO TOBJ_CK_DATASTATUS_INFO_BAK T1
        USING(SELECT COUNT(1) total FROM TOBJ_CK_DATASTATUS_INFO_BAK T2 WHERE T2.CK_BASE_ID = #{li2} and T2.RECORD_NUMBER = #{li5}) T3 ON (T3.total > 0)
        WHEN NOT MATCHED THEN
        INSERT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                CK_DATA_ID,
            </if>
            <if test="li2 != null and  li2 != ''">
                CK_BASE_ID,
            </if>
            <if test="li3 != null and  li3 != ''">
                APPLAY_DATA_STATUS,
            </if>
            <if test="li4 != null and  li4 != ''">
                APPROVE_DISTRICT,
            </if>
            <if test="li5 != null and  li5 != ''">
                RECORD_NUMBER,
            </if>
            <if test="li6 != null and  li6 != ''">
                RECORD_TERM,
            </if>
            <if test="li7 != null and  li7 != ''">
                DATA_STATE,
            </if>
            <if test="li8 != null and  li8 != ''">
                CREATE_TIME,
            </if>
            <if test="li9 != null and  li9 != ''">
                CREATE_PERATION,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="li1 != null and  li1 != ''">
                #{li1},
            </if>
            <if test="li2 != null and  li2 != ''">
                #{li2},
            </if>
            <if test="li3 != null and  li3 != ''">
                #{li3},
            </if>
            <if test="li4 != null and  li4 != ''">
                #{li4},
            </if>
            <if test="li5 != null and  li5 != ''">
                #{li5},
            </if>
            <if test="li6 != null and  li6 != ''">
                #{li6},
            </if>
            <if test="li7 != null and  li7 != ''">
                #{li7},
            </if>
            <if test="li8 != null and  li8 != ''">
                SYSDATE,
            </if>
            <if test="li9 != null and  li9 != ''">
                #{li9},
            </if>
        </trim>
    </update>

</mapper>